body {
	font-family: JetBrains Mono, regular;
	margin-left: 310px ;
	/*font-style: sans-serif ; */
	background: #0d1117 ;
	color: #ccc ;
}

main {
	max-width: 1000px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

li {
	padding: 5px;
}

.author {
	text-align: right;
}

.author a {
	color: #58a6ff;	
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* FOR SIDEBAR */
.sidenav {
	width: 300px;
	height: 96%;
	position: fixed;
	top: 20px;
	left: 0px;
	font-size: 16px;
	background: #0d1117;
	border-color: #373b42;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.sidenav a {
	text-align: center;
	padding: 6px 8px 6px 16px;
	color: #58a6ff;
	display: block;
}

.summary {
	padding: 6px 0px 6px 16px;
	left: 10px;
	color: #ffffff;
	background: #21262d;
	border-color: #373b42;
	border-width: 1px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
}

.date-of-creating {
	font-style: italic;
	color: #89929c;	
	text-align: left;
	font-size: 14px;
}

/* FOR FOOTER */
.footer {
	width: 300px;
	position: fixed;
	text-align: center; 
	clear: both ;
	bottom: 1%;
	left: 0px;
	position: fixed;
}

/* BACK BUTTON FOR SINGLE PAGE */
.back {
	text-align: center; 
	padding: 15px;
}

.back a {
	text-decoration: none; 
	color: #58a6ff;
}

/* FOR SCROLLBAR */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #0d1117; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}